
form {
  background-color: #d2cfcf;
  width: auto;;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="date"],
select,
textarea {  
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button,
input[type="submit"] {
  background-color: #a8a8a9;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  background-color: #585858;
}

.stars {
  display: flex;
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.box{
  text-align: center;
  justify-content: center;
  margin: 7px;
}

@media (max-width: 768px) {
  input[type="text"],
  input[type="date"],
  select,
  textarea {
    width: 100%;
  }
}
