body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

header{ 
  color: #ccc;
  background-color: #542842;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

form {
  background-color: #d2cfcf;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="date"],
select,
textarea {  
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

button,
input[type="submit"] {
  background-color: #a8a8a9;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
input[type="submit"]:hover {
  background-color: #585858;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  color: #ccc;
  background-color: #542842;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.stars {
  display: flex;
  gap: 1rem;
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


@media (max-width: 768px) {
  input[type="text"],
  input[type="date"],
  select,
  textarea {
    width: 100%;
  }
}

.return-button {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #dedede;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.return-button:hover {
  background-color: #838383;
}
