:root {
  --primary-color: #000;  /* Base text color */
  --secondary-color: #fff; /* Light color */
  --accent-color: #FF0000; /* Red for emphasis */
  --font-family: Roboto, Arial, Helvetica, sans-serif; /* Base font */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

header {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
  justify-content: center;
  padding: 2rem;
  font-size: large;
}

header::after {
  display: block;
  width: 100%;
  height: 2px; 
  background-color: var(--accent-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  /* Responsive grid layout */
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.info-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: auto; /* Responsive width based on grid */
}

.info-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.info-list li {
  margin-bottom: 5px;
}

.info-list li span {
  font-weight: bold;
  margin-right: 10px;
}

.weather-box {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: auto; /* Responsive width based on grid */
}

.weather-logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.weather-info {
  flex: 1;
}

.weather-info h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.weather-info p {
  margin-bottom: 5px;
}

.weather-info span {
  font-weight: bold;
}

footer {
  background-color: rgb(0, 42, 255);
  color: var(--secondary-color);
  margin-top: 1em;
  border-top: 1px solid var(--primary-color);
  text-align: center;
  padding: 2rem;
}

footer::after {
  display: block;
  width: 50px;
  height: 2px; /* Decorative line at the center */
  background-color: var(--accent-color);
  margin: 0 auto;
}

@media screen and (min-width: 550px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
